* {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;


}

body {
    background-color: #000;
    background-image: url("styles/imgs/wallpaper.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.logo {
    padding-top: 10px;
    margin-left: 10px;
    width: 10%;
}

.titulo {
    font-family: 'Inter';
    font-weight: 10px;
    font-size: 52px;
    line-height: 150%;
    color: #ffda22;
    text-align: center;
    padding: 0% 20% 0% 20%;
}

main {
    display: flex;
    margin-bottom: 10px;
    margin-left: 180px;

}

.txt-box {
    height: 600px;
    width: 1000px;
    border: none;
    border-radius: 24px;
    background-color: #000;
    color: #ffda22;
    margin-top: 30px;
    padding: 2px;
    text-transform: lowercase;
}

::placeholder {
    color: #ffda22;
}

.txt-box:focus {
    outline: none;
}


.mensaje {
    background: #000;
    background-image: url("styles/imgs/pochita.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 630px;
    border: none;
    border-radius: 24px;
    color: #fd0a57;
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 20px;

}

.mensaje:focus {
    outline: none;
}

.botones {
    display: flex;
    margin-top: 18px;
}

.btn-desencriptar {
    background: #fd0a57;
    border: 1px solid #000;
    border-radius: 24px;
    color: #fff;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
}

.btn-encriptar {
    background-color: #000;
    border: 1px solid #000;
    border-radius: 24px;
    color: #ffda22;
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.btn-limpiar {
    background-color: #000;
    border: 1px solid #000;
    border-radius: 24px;
    color: #ffda22;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
}

.copiar {
    background: #fd0a57;
    border: 1px solid #000;
    border-radius: 24px;
    color: #fff;
    cursor: pointer;
    height: 67px;
    margin-left: 120px;
    margin-top: 5px;
    position: absolute;
    width: 336px;
}

.informacion {
    color: #ffda22;
    font-size: 28px;
}

footer{
    padding-top: 10%;
    padding-left: 5%;
}
.info{
    color: #ffda22;
    font-size: 28px;
    font-family: 'Inter';
    padding-top: 2px;
    padding-bottom: 1%;
}

.iconos{
    width: 50px;
    padding: 5px 5px 5px 5px;
}

